.tag {
  padding: 5px;
  font-size: 12px;
  border: solid;
  border-width: thin;
  background-color: #ffffff;
}

/*styles the container itself*/
.tag-container {
  display: flex;
  background-color: #90a4ae;
}
.black-border {
  border-bottom: 1px solid black;
}

/*styles within the container*/
.tag-container > div {
  margin: 10px;
  line-height: 20px;
  font-size: 12px;
  flex-direction: row;
}

.search {
  width: 160px;
  padding: 7px;
  margin: 10px;
}
